@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font_jaro {
  font-family: "Jaro", sans-serif;
}

.font_noto {
  font-family: "Noto Sans", sans-serif;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.buttonCss {
  background: linear-gradient(to right, #991b1b, #ef4444, #991b1b);
  background-size: 200%;
}
.buttonCss:hover {
  animation: gradientMove 2s;
}
